.buttonCalendar{
    display: inline-block;
    transform: scale(0.8);
    color: green;
}

.displayInline{
    display: inline-block;
}
.datesDiv{
    font: 25px 'Karla';
    margin-left: 10px;
}
.bottomBorder{
    border-bottom: 3px solid red;
}
.datesDiv ul{
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
}
.datesDiv ul li:last-child::after{
    content: "";
    margin-right: 0px;

}
.datesDiv ul li{
    float: left;
    font-size: 18px;
}
.datesDiv ul li::after{
    content: " ,";
    margin-right: 15px;
}
