
.zeroPad{
    padding: 0;
}
.zeroMarg{
    margin: 0;
}
.cityDiv{
    font: 30px 'Jost';
    background-color: #ebeced;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 25px;
    border-radius: 25px;
    padding: 2rem 25px;
    min-width: 500px;
}

.locationsDiv{
    font: 25px 'Karla';
    margin: 15px 10px 15px 5px;
    position: relative;
}
.locationsDiv ul{
    list-style-type: none;
    overflow: hidden;
}
.locationsDiv ul li{
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}
.locationsDiv ul li:last-child{
    margin-bottom: 0;
}
.locationsDiv ul li:first-child{
    margin-top: 5px;
}
.location{
    display: block;
    font-weight: 600;
    line-height: 70%;
}
.address{
    font: 25px 'Karla';
    display: inline-block;
    font-size: 16px;
}
.buttonDiv{
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 15px;
}
.buttonDiv button{
    /*background-color: rgba(244, 85, 30, 0.65); */
    border: none;
    padding: 6px 11px;
    text-align: center;
    font-size: 14px;
    margin: 4px 4px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}
.buttonDiv button:hover{
    background-color: rgba(244, 85, 30, 0.65);
}

.top-panel {
    position: relative;
    padding: 0.5rem 3rem 2rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    height: auto;
    font: 24px 'Jost';
}

.bottom-panel {
    position: relative;
    font: 25px 'Jost';
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem 1rem;
    background-color: #ebeced;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 25px;
    width: 80%;
}

.addLocationButton{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.map-info {
    font: 25px 'Jost';
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem 1rem;
    background-color: #ebeced;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 25px;

    position: fixed;
    right: 10px;
    top: 100px;
    height: 200px;
    overflow-y: scroll;
}

