.itinerary_name{
    margin: 0px 0px 0px 10px;
    font-size: 2.5em;
    display: inline-block;
}
.itinerary_dates{
    font-size: 1.1em;
}
#itinerary-div{
    margin-top: 15px;
    margin-left: 15px;
}
.edit-btn{
    position: relative;
    top: -8px;
    transform: scale(1.25);
    z-index: 12;

}
.buttonDivDelete{
    display: inline-block;
    position: absolute;
    left: 90%;
    top: -6px;
    transform: scale(1.05);
    z-index: 12;

}
.relativeDiv{
    position: relative;
}
h1{
    margin: 0px 10px 5px 10px;
    font-size: 2.25em;
}

.zeroPad{
    padding: 0;
}
.zeroMarg{
    margin: 0;
}

.dates ul{
    list-style-type: none;
    overflow: hidden;
}
.dates ul li{
    float: left;
    font-size: 0.8em;
}
.item-font{
    font-size: 1.25em;
}
.dates{
    margin-left: 8px;
    margin-bottom: 3px;
    display: inline-block;
}
.addLocationButton{
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
.map{
    display: block;
}

.edit-button{
    display: inline-block;
}
