.notes-outer {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 2rem;
}

#notes-text {
    position: relative;
    font: 20px 'Karla';
    margin: 1rem 1rem 1rem 2rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: 0; 
    box-shadow: -7px 4px 33px 0px rgb(133, 145, 151); 
    border: none; 
    background-color: rgba(255, 255, 255, 0.89);
    border-top: 2px solid #ced4da;
    border-bottom: 2px solid #ced4da;
    border-radius: 0; 
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;
    width: 70%;
    height: 10rem;
    color: black;
}

#notes-button {
    margin: 0.5rem 1rem 1rem 1rem;
    background-color: #f4511e;
    border: none;
    float: right;
    color: white;
    padding: 6px 11px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5rem;
}

#notes-inner-button {
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    float: left;
}

/*!**** scroll-bar START ****!*/

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*  }*/
/*  */
/*  !* Track *!*/
/*  ::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*  }*/
/*  */
/*  !* Handle *!*/
/*  ::-webkit-scrollbar-thumb {*/
/*    background: rgb(71, 116, 122);*/
/*  }*/
/*  */
/*  !* Handle on hover *!*/
/*  ::-webkit-scrollbar-thumb:hover {*/
/*    background: rgba(200, 215, 219, 0.747);*/
/*  }*/

/**** scroll-bar END ***/



  