.NotFound{
    background-image: none;
    position: relative;
    z-index: 1;
    color: white;
    display: block;
    font-size: 4em;
    max-width: 100%;
}
.bg404{
    z-index: 1;
    position: absolute;
    width: 100%;
    min-width: 535px;
    text-align: center;
    align-content: center;
    display: block;
}
.bg404:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}
.smallIcon404{
    transform: scale(0.65);
    display: block;
    margin-top: -300px;
    margin-left: 15px;
}
.smallIcon404 img{
    max-width: 100%;
    min-width: 888px;
}
html{
    background: repeat linear-gradient(315deg, #7f5a83 0%, #0b2c43 74%);
}