html {
    scroll-behavior: smooth;
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.profile-container {
    background-color: #121212;
    overflow: scroll;
}


.profile-left-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    background-color: #22252c;
    text-align: left;
    align-content: center;
    text-overflow: fade;
}

.left-panel-text {
    text-align: center;
    padding: 8px;
    color: whitesmoke;
    font-family: "Helvetica";
    margin-bottom: 10px;
    font-size: 13pt;
    font-weight: 400;
    text-overflow: ellipsis;
}

.right-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    text-align: left;
    align-content: center;
    background-color: #121212;
    overflow: scroll;
    z-index: 9;
}

.profile-logo-panel {
    position: fixed;
    background-color: #121212;
    top: 0;
    left: 15%;
    width: 100%;
    height: 70px;
    z-index: 10;
    justify-content: center;
    text-align: center;
}

.logo-position {
    position: relative;
    width: 150px;
    height:150px;
    top: -40px;
    left: -50px;
}

.logo-panel-placeholder {
    position: relative;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.section-box {
    color: whitesmoke;
    background-color: #1b1d23;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px #57333f;
    margin: 20px 40px 20px 20px ;
    padding: 20px;
    transition: background-color 1s;
    z-index: 5;
}

.section-box:hover {
    background-color: #323540;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 5px #543763;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
.profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }


  @media (max-width: 740px) {
    .profile-bg
     {
      height: 1000px;
    }
  }

  