/*
.profile-bg{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
    background: whitesmoke center center;
}



.profile-container {
  text-align: center;
  align-items: center;
}

.profile-container ul {
    list-style-type: none;
    color: #2E3B52;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px #B8B8B8;
    position: relative;
    display: inline-block;
    margin-top: 10px;
  }
  
.profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
.profile-img i {
    position: absolute;
    top: 20px;
    right: -7px;
    !* border: 1px solid; *!
    border-radius: 50%;
    !* padding: 11px; *!
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: cornflowerblue;
    box-shadow: 0 0 8px 3px #B8B8B8;
  }


  @media (max-width: 740px) {
    .profile-bg
     {
      height: 1000px;
    }
  }

  */
