* {
    scroll-behavior: smooth;
}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.profile-container {
    background-color: #121212;
    overflow: scroll;
}


.profile-left-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    background-color: #121317;
    text-align: left;
    align-content: center;
    text-overflow: fade;
    z-index: 15;
}

.noHover:hover{
    color: inherit;
    text-decoration: inherit;
}

.left-panel-text {
    text-align: center;
    padding: 8px;
    color: whitesmoke;
    font-family: "Helvetica";
    margin-bottom: 10px;
    font-size: 13pt;
    font-weight: 400;
    text-overflow: ellipsis;
}

.right-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    text-align: left;
    align-content: center;
    background-color: #745278;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0b2c43 74%);
    overflow: scroll;
    z-index: 9;
}

.profile-logo-panel {
    position: fixed;
    background-color: #121212;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
    justify-content: center;
    text-align: center;
}

.logo-position {
    position: relative;
    width: 150px;
    height:150px;
    top: -40px;
    left: 100px
}

.logo-panel-placeholder {
    position: relative;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.right-panel-text {
    font-family: "Helvetica";
    font-size: 16pt;
}

.h2 {
    font-family: "Roboto";
    font-size: 20pt;
    font-weight: 700;
    padding: 0 30px;
}

.section-box {
    color: whitesmoke;
    background-color: #121212;
    border-radius: 15px;
    margin: 30px 40px;
    padding: 20px;
    transition: background-color 1s;
    z-index: 5;
    justify-content: center;
}

.icon-btn {
    transform: scale(0.9);
    top:8px;
    left: -2px;
}
.delete-btn{
    position: relative;
    top: 0px;
    left: -2px;
    transform: scale(1.3);
    z-index: 12;

}

.button-bar {
    position: relative;
    right: 0;

}

.logout-button {
    position: relative;
    height: 40px;
    padding: 0 40px;
    font-size: 12pt;
    left: 27%;
    right: 27%;
    min-width: 30px
}

.modal {
    font-size: 12pt;
    min-width: 600px;
    border-radius: 10px;
    color: #2b2b2b;
}

.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 5px 5px;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    text-align: center;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.modal-button {
    left: 40%;
    right: 40%;
    color: white;
    background: midnightblue;
    font-size: 12pt;
    font-family: "Helvetica";
    margin: 0 5px;
    border-radius: 5px;
    padding: 5px 10px

}

.tab-vertical {
    display: inherit;
}

.tab-horizontal {
    display: none;
}

.center-button {
    position: relative;
    top: 20px;
    margin: 3px;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 5px #543763;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
.profile-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    image-rendering: pixelated;
  }


  @media (max-width: 960px) {
    .profile-bg
     {
      height: 1000px;
    }
    .profile-logo-panel {
        display: none
    }
    .profile-left-panel {
        top: 0;
        left: 0;
        width: 100%;
        height: 127px;
    }

    .right-panel {
        width: 100%;
        left: 0
    }

    .logo-panel-placeholder {
        height: 127px
    }

  .profile-img {
      width: 50px;
      height: 50px;
  }
  .tab-horizontal {
      width: 100%;
      margin-top: -8px;
      display: inherit;
      align-content: center;
      justify-content: center;
  }
  .tab-vertical {
      display :none;
  }

  .left-panel-text {
      padding: 6px;
      font-size: 12pt;
  }


  }

  