@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Jost');

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Jost'); /* IE9 Compat Modes */
  }

@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Karla'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css?family=Roboto'); /* IE9 Compat Modes */
}